:root {
    --clr-prim-1: goldenrod; 
    --clr-prim-2: darkgoldenrod;
    --clr-prim-3: gold;
    --clr-prim-4: yellow;
    --clr-prim-5: lightyellow;
    --clr-grey-1: #333;
    --clr-grey-2: #888;
    --clr-grey-3: #ccc;
    --clr-white-1: beige;
    --clr-white-2: khaki;
    --clr-white: white;
    --clr-green-0: rgb(0, 50, 0);
    --clr-green-1: rgb(0, 100, 0);
    --clr-green-2: rgb(0, 128, 0);
    --clr-green-3: rgb(34, 139, 34);
    --clr-green-4: rgb(144, 238, 144);
    --ff-primary: 'Barlow', sans-serif;
    --ff-secondary: 'Edu SA Beginner', sans-serif;
    --ff-feature: 'Nothing You Could Do', cursive;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: var(--ff-primary);
    background: var(--clr-green-0);
    color: var(--clr-prim-3);
    line-height: 1.5;
    font-size: 0.875;     
}

img {
    width: 100%;
    display: none;
}

h1, h2, h3, h4 {
    letter-spacing: var(--spacing);
    text-transform: uppercase;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1rem;
    }
    
    body {
        font-size: 1rem;
    }

    h1, h2, h3, h4 {
        line-height: 1;
    }
}