:root {
    --clr-prim-1: goldenrod;
    --clr-prim-2: darkgoldenrod; 
    --clr-prim-3: gold;
    --clr-prim-4: yellow;
    --clr-prim-5: lightyellow;
    --clr-black: #101010;
    --clr-grey-0: #111;
    --clr-grey-1: #333;
    --clr-grey-2: #888;
    --clr-grey-3: #ccc;
    --clr-white-1: beige;
    --clr-white-2: khaki;
    --clr-white: white;
    --clr-green-0: rgb(0, 25, 0);
    --clr-green-1: rgb(0, 100, 0);
    --clr-green-2: rgb(0, 128, 0);
    --clr-green-3: rgb(34, 139, 34);
    --clr-green-4: rgb(144, 238, 144);
    --ff-primary: 'Barlow', sans-serif;
    --ff-secondary: 'Edu SA Beginner', sans-serif;
    --ff-feature: 'Nothing You Could Do', cursive;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: var(--ff-primary);
    background: var(--clr-green-0);
    color: var(--clr-prim-3);
    line-height: 1.5;
    font-size: 0.875;     
}

img {
    width: 100%;
    display: none;
}

h1, h2, h3, h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize
    ;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1rem;
    }
    
    body {
        font-size: 1rem;
    }

    h1, h2, h3, h4 {
        line-height: 1;
    }
}

.btn {
    text-transform: uppercase;
    background: var(--clr-prim-1);
    color: var(--clr-grey-1);
    padding: 0.75rem 1rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 700;
    transition: var(--transition);
    font-size: 1rem;
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    box-shadow: -3px 2px 3px 3px var(--clr-green-1),
                2px -3px 3px 3px var(--clr-green-1);           
}

.btn:hover {
    color: var(--clr-black);
    background: var(--clr-prim-3);
}

.clearfix::after,
.clearfix::before {
    content: '';
    clear: both;
    display: table;
}

.header {
    min-height: 100vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),       
        url('./img/main-bg.jpg') center/cover no-repeat fixed;
    position: relative;
    overflow-x: hidden;
}

.banner {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner h2 { 
    font-family: var(--ff-feature);
    color: var(--clr-prim-5);
    text-shadow: 2px 2px 0 var(--clr-green-1);
}

.banner h1 {
    text-transform: uppercase;
    color: var(--clr-prim-1);
    text-shadow: 2px 2px 0 var(--clr-green-1);
    margin-top: 1.25rem;
    margin-bottom: 2rem;
}

.banner-btn {
    outline: 0.1rem dotted var(--clr-prim-1);
    outline-offset: 0.25rem;
    font-size: 1.25rem;
    padding: 1rem 1.75rem
}

.content-divider {
    height: 0.5rem;
    background: linear-gradient(
        to left,
        var(--clr-prim-2),
        var(--clr-prim-1),
        var(--clr-prim-2)
    );
}

.tours {
    background: var(--clr-grey-0);
}

.tour {
    padding: 2.5rem 0;
    text-align: center;
    transition: var(--transition);
}

.tour-icon {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    transition: var(--transition);
    display: inline-block;
    color: var(--clr-green-1);
}

.tour-text {
    color: var(--clr-prim-1);
    max-width: 17rem;
    margin: 0 auto;
}

.tour:hover {
    background: var(--clr-green-0);
    box-shadow: 0 2px var(--clr-prim-1)
}

.tour:hover .tour-icon {
    transform: translateY(-5px) scale(1.2);
}

@media screen and (min-width: 576px) {
    .tour {
        float: left;
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .tour {
        width: 25%;
    }
}


